tags*
ranger/.config/ranger/__pycache__*
ranger/.config/ranger/plugins/__pycache__*
*.vcf
*.ics
*dav_username*
*dav_url*
khal/.local/*
khard/.local/*
coc/.config/coc/extensions/coc-xml-data
coc/.config/coc/extensions/coc-python-data
coc/.config/coc/extensions/node_modules
coc/.config/coc/extensions/db.json
/nvim/.config/nvim/spell/
/coc/.config/coc/extensions/coc-java-data/
/coc/.config/coc/memos.json
/coc/.config/coc/list-marketplace-history.json
*.idea
/mutt/.config/msmtp/msmtp.log
/ranger/.config/ranger/colorschemes
.mailsynclastrun
/zsh/.zsh/.antigenrc.zwc
/bin/bin/scrolly
/zsh/.zsh/cache/
