[Desktop Entry]
Name=NeoMutt
GenericName=Mail Client
Type=Application
Icon=mutt
Exec=ghostty -e neomutt %u
StartupNotify=false
Categories=Email
MimeType=x-scheme-handler/mailto;
